@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-primary text-primary;
  }

  .main-width {
    @apply w-main max-w-main mx-auto
  }

  .cut-corner {
    --cut-size: 8%;
    position: relative;
  }
  .cut-corner::after {
    @apply bg-primary absolute bottom-0 right-0 w-[--cut-size] translate-y-[50%] translate-x-[50%] aspect-square border-l-[1px] border-l-secondary rotate-45;
    content: '';
  }

  .stroke-secondary {
    --stroke-color: theme(colors.tertiary);
    -webkit-text-stroke: 1px var(--stroke-color); /* Adjust the color and width as needed */
  }
}